@import '../utils/variables';

#header {
	position: sticky;
	top: 0;
	z-index: 9999;
	background-color: $light;
	border-bottom: 1px solid rgba(#000, .05);
	user-select: none;
	
	.logo {
		margin: auto 2.5rem auto 0;
		max-height: 37.5px;
	}
	
	.menu, .sign {
		padding: 1.25rem 0;
		li {
			margin: 0 1rem;

			&:first-child {margin-left: 0;}
			&:last-child {margin-right: 0;}
			a {
				position: relative;
				transition: .1s color ease-out;
				
				&:hover {color: $blue;}
				&::after {
					content: '';
					position: absolute;
					top: 125%; left: 50%;
					height: 3px; width: 0;
					transform: translateX(-50%);
					transition: .175s width ease-in-out;
					border-radius: 1rem;
					background-color: $blue;
				}
				
				&:global(.active)::after {
					width: 20px;
				}
			}
		}
	}

	.sign {
		margin-left: auto;
		
		li {
			&:last-child a {
				display: initial;

				&:global(.active) {
					background-color: $blue;
					border-color: $blue;
					color: $light;
				}
				&::after {content: none;}
				&:not(:global(.active)):hover {color: $dark;}
			}
		}
	}
}
