@import '../utils/variables';

#header {
	position: sticky;
	top: 0;
	z-index: 9999;
	background-color: $light;
	border-bottom: 1px solid rgba($black, .05);
	user-select: none;
	line-height: 1;
	
	.logo {
		margin-right: 2.5rem;
		
		img {width: 135px;}
	}
	
	.menu, .sign {
		padding: 1.25rem 0;
		li {
			margin: 0 1rem;

			&:first-child {margin-left: 0;}
			&:last-child {margin-right: 0;}
			a {
				position: relative;
				transition: .1s color ease-out;
				
				&:hover::after {width: 15px;}
				&::after {
					content: '';
					position: absolute;
					top: 125%; left: 50%;
					height: 3px; width: 0;
					transform: translateX(-50%);
					transition: .175s width ease-in-out;
					border-radius: 1rem;
					background-color: $blue;
				}
				
				&:global(.active)::after {
					width: 15px;
				}
			}
		}
	}

	.sign {
		margin-left: auto;
		
		li {
			&:last-child a {
				display: initial;
				transition: .1s all ease-in-out;

				&::after {content: none;}
				&:not(:global(.active)):hover {color: $black;}
			}
		}
	}
}
