@import '../utils/variables';

.scribble {
	display: inline-block;
	white-space: nowrap;
	color: $red;
	
	&.top-right {
		display: flex;
		flex-direction: row-reverse;
		transform: rotate(-3deg);
		
		svg {
			transform: scaleY(-1) translateY(5%);
			margin-left: 1rem;
		}
	}
	
	&.bottom-right {
		display: flex;
		flex-direction: row-reverse;
		
		svg {
			transform: translateY(-10%);
			margin-left: 1rem;
		}
	}
	
	&.bottom-left {
		transform: rotate(-3deg);
		
		svg {
			transform: scaleX(-1) translateY(25%);
			margin-right: 1rem;
		}
	}
	
	&.top-left {
		transform: rotate(3deg);
		
		svg {
			transform: scale(-1, -1) translateY(-25%);
			margin-right: 1rem;
		}
	}

	svg {
		stroke-width: 3px;
		width: 3rem;
	}
	
	span {
		font: {
			family: 'Nanum Pen Script', cursive;
			weight: normal;
			size: 2rem;
		}
	}
}
