@import '../utils/variables';

.slider {
	.navigation {
		position: relative;
		margin-bottom: 2.5rem;
		font-size: 3rem;
		font-weight: bold;
		padding: 0 8rem;
		overflow: hidden;

		&::before {
			background: linear-gradient(90deg, $black, transparent);
			left: 0;
		}
		&::after {
			background: linear-gradient(90deg, transparent, $black);
			right: 0;
		}
		&::before, &::after {
			content: '';
			position: absolute;
			top: 0;
			pointer-events: none;
			z-index: 1;
			width: 8rem;
			height: 100%;	
		}

		.overflow {
			transition: .3s transform ease-in-out;

			.button {
				cursor: pointer;
				margin-right: 2rem;
				opacity: .15;
				white-space: nowrap;
				user-select: none;
				transition: .25s color ease-in-out, .25s opacity ease-in-out;

				&:last-child {margin-right: 0;}
				&.active {
					opacity: 1;
					color: $red-2;
				}
			}
		}
	}

	.tabs {
		position: relative;
		margin: 0 auto;

		.tab {
			width: 100%;
			max-width: 1000px;
			transition: .25s opacity ease-in-out;
			border-radius: .5rem;
			opacity: 0;
			
			&.visible {opacity: 1 !important;}
			&:not(:first-child) {
				position: absolute;
				transform: translateX(-50%);
				left: 50%;
			}
		}
	}
}
