@import './utils/reset';
@import './utils/variables';

@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

%column {
	display: flex;
	flex-direction: column;
}

* {box-sizing: border-box;}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 100%;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	line-height: 1.25;
	background-color: $light;
	letter-spacing: .5px;
}

html {
  height: 100%;
  
  body {
		@extend %column;
    min-height: 100%;
		
		#__next {
			@extend %column;
			flex: 1;
		}
  }
}

a {color: inherit; text-decoration: none;}

/* -== Global classes ==- */
.layout {
	padding: {
		left: 7.5rem;
		right: 7.5rem;
	};
}

.flex {
	display: flex;
	
	&--center {
		@extend .flex;
		align-items: center;
	}
	&--justify {
		@extend .flex;
		&--between {
			@extend .flex--justify;
			justify-content: space-between;
		}
		&--around {
			@extend .flex--justify;
			justify-content: space-around;
		}
		&--center {
			@extend .flex--justify;
			justify-content: center;
		}
	}
	&--column {
		@extend .flex;
		flex-direction: column;
	}
}

.button {
	display: inline-block;
	border-radius: 2rem;
	padding: .5rem 1rem;
	border: 2px solid;
	transition: .1s all ease-in-out, .15s box-shadow ease-in-out;
	user-select: none;
	
	&:not(.active):hover {
		background-color: transparent !important;
		border-color: $dark;
		color: $dark;
	}
	
	&--dark {
		@extend .button;
		color: $light;
		background-color: $dark;
		border-color: $dark;
	}
	
	&--light {
		@extend .button;
		background-color: #e1e1e1;
		border-color: #e1e1e1;
		color: #000;
	}
}
